@import "src/_variables";

.nav {
  display: flex;
  list-style: none;

  li {
    margin-right: 10px;

    a {
      text-decoration: none;
      color: $dark-color;
    }
  }

  a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 2px #ce5937;
  }
}

.active-link {
  font-weight: bold !important;
}
