@import "src/styles/_variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  text-align: center;
  min-height: 10vh;
  padding-right: 40px;

  a {
    text-decoration: none;
    color: $dark-color;
  }
}

.slogan {
  a:hover {
    font-weight: bold;
    text-shadow: $primary-shadow;
  }
}
